.meal-plan-div{
    display: flex;
    justify-content: space-around;
}

.mealplan-list-div{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: yellow;
    top:0;
    left:0;
    right:0;
}


.main-mealplan-div{
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-evenly;

}

