
/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Josefin+Sans:ital,wght@1,700&display=swap');


.meal-plan-div{
    display: flex;
    justify-content: space-around;
    
}
.indiv-mealplan-box-div{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 150px;
    justify-content: space-around;
 
}
.meal-plan-button-div{
    display: flex;
    justify-content: space-evenly;
   
}
.meal-plan-button-div>button{
 border-radius: 10px;   
}
.meal-plan-button-div>button:hover{
    box-shadow: 0px 5px 12px 2px rgb(238, 236, 236); 
   }


.meal-plan-title-div{
    display: flex;
    justify-content: space-evenly;
}
.meal-plan-title{
    border-radius: 20px;
    color: white;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.607);
}
.meal-column{
    text-align: center;
 }
.mealplan-list-div{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #43bc42;
    top:0;
    left:0;
    right:0;
}


.recipe-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    margin-bottom: -10px;
    text-align: center;
    color: gray;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: gray;
}

.card-body {
    text-align: center;
}

.pagination {
    margin-top: 20px;
    justify-content: center;
}

.results-img {
    border-radius: 15px;
}

.individual-recipe-title {
    font-size: 35px;
    color: rgb(66, 170, 170);
}

.individual-recipe-div {
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
    margin-top: 35px;
    /* background: linear-gradient(180deg, #9f9d9d , #2eb29c); */
    background-image: url("https://img.freepik.com/free-vector/brush-strokes-background_53876-90918.jpg?w=2000");
}

.individual-recipe-div2 {
    background-color: rgba(255, 255, 255, 0.9);
    width: 50%;
    text-align: center;
    border-radius: 35px;
    padding: 20px 20px;
}

.individual-recipe-save {
    margin-top: 40px;
    font-size: 25px;
    font-family: 'DM Serif Display', serif;
    color: rgb(66, 170, 170);
}

.individual-recipe-button {
    color:rgb(66, 170, 170);
    border-color:rgb(66, 170, 170);
    padding: 2px 6px;
    background-color: white;
    border-radius: 10px;
    transition: 0.7s;
}

.individual-recipe-button:hover {
    color: #fff;
    background-color: rgb(66, 170, 170);
}

.individual-recipe-nameSelect {
    /* color: rgb(66, 170, 170); */
    border-radius: 5px;
    /* border: 2px solid rgb(66, 170, 170);
    border-color: rgb(66, 170, 170); */
    width: 20%;
    margin-bottom: 15px;
    transition: 0.6s;
    text-align: center;
}

.individual-recipe-userDiv {
    display: block;
}

.individual-recipe-img {
    border-radius: 20px;
    margin-bottom: 25px;
}

.select-meal-grid{
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows:repeat(auto, 300px);
    gap:10px;
}
.meal-plan-list-meals{
    display: flex;
    align-items: center;
    flex-direction: column;
    color:white;
border-radius: 20px;
    grid-column:auto;
    height:300px;
    width:100%;
}
.select-meal-title{
    padding: 10px;
    margin-left: 10px;
    margin-right:10px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.641);
    border-radius: 20px;
}
.select-meal-recipe{
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.607);
    border-radius: 20px;
}

.mealplan-list-div-inner{
    position: absolute;
   overflow: auto;
   top:20px;
    left:10px;
    right:10px;
    background-color: white;
    background-attachment: fixed;
    padding: 20px;
}

.meal-plan-select-user-div{ 
    position: absolute;
    display: block;
 
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: rgb(248, 248, 248);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
}


.meal-plan-select-user-div:hover{
  box-shadow: 0px 2px 15px 2px rgb(147, 144, 144);
}

.background-main {
    background-color: #43bc42;
}

.background-main-image {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://source.unsplash.com/EWDvHNNfUmQ");
}

.img-responsive {
    display: block;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.saved-recipe {
    width: 270px;
}

.card-image {
    object-fit: contain;
}

@media (min-width: 576px) {
/* put the image behind the search? */
}

@media screen and (min-width: 768px) {
    .main-img {
        height: 570px;
    }
}

@media (min-width: 992px) {
    .main-img {
        height: 579px;
    }
}

@media (min-width: 1200px) {
    .main-img {
        height: 586px;
    }
}

.main-mealplan-div{
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-evenly;

}



